# datasets
data_pipeline/data/
data_pipeline/data collection/
data_pipeline/processed/
data_pipeline/tokens/
data/
# models
saved_models/
*.pt
*.bin
*.ckpt
.env
# large data
*.jsonl
*.json
*.txt
*.zip

node_modules/
dist/
build/

# python cache
__pycache__/
*.pyc